In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
data = pd.read_csv('../data/train.csv')
data

,index,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,...,occyp_type_Laborers,occyp_type_Low-skill Laborers,occyp_type_Managers,occyp_type_Medicine staff,occyp_type_Private service staff,occyp_type_Realty agents,occyp_type_Sales staff,occyp_type_Secretaries,occyp_type_Security staff,occyp_type_Waiters/barmen staff
0,3,F,N,Y,0,202500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,0,0,1,0,0,0
1,7,M,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
2,12,F,Y,Y,1,157500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
3,15,M,Y,Y,2,157500.0,Working,Secondary / secondary special,Married,With parents,...,0,0,0,0,0,0,0,0,0,0
4,22,F,N,N,0,157500.0,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9655,4972,F,Y,Y,1,133650.0,Commercial associate,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
9656,4973,F,N,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,...,0,0,0,1,0,0,0,0,0,0
9657,4975,F,N,Y,1,135000.0,Working,Secondary / secondary special,Married,House / apartment,...,1,0,0,0,0,0,0,0,0,0
9658,4976,F,N,Y,2,112500.0,Working,Secondary / secondary special,Married,With parents,...,0,0,0,0,0,0,0,0,0,0
9659,4978,F,N,N,0,157500.0,Commercial associate,Secondary / secondary special,Widow,Municipal apartment,...,0,0,0,0,0,0,1,0,0,0

In [6]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import RobustScaler


scaler = MinMaxScaler()

# 최적의 k를 찾기 위해 교차 검증을 수행할 k의 범위를 3부터 학습 데이터 절반까지 지정
max_k_range = data.shape[0] // 2
k_list = []
for i in range(90, max_k_range, 90):
    k_list.append(i)
    
cross_validation_scores = []
x_train = data[['child_num', 'income_total', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
                  'FLAG_MOBIL', 'work_phone', 'phone', 'email', 'family_size',
                  'begin_month', 'gender_F', 'gender_M', 'car_N', 'car_Y',
                  'reality_N', 'reality_Y', 'income_type_Commercial associate',
                  'income_type_Pensioner', 'income_type_State servant',
                  'income_type_Student', 'income_type_Working',
                  'edu_type_Academic degree', 'edu_type_Higher education',
                  'edu_type_Incomplete higher', 'edu_type_Lower secondary',
                  'edu_type_Secondary / secondary special',
                  'family_type_Civil marriage', 'family_type_Married',
                  'family_type_Separated', 'family_type_Single / not married',
                  'family_type_Widow', 'house_type_Co-op apartment',
                  'house_type_House / apartment', 'house_type_Municipal apartment',
                  'house_type_Office apartment', 'house_type_Rented apartment',
                  'house_type_With parents', 'occyp_type_Accountants',
                  'occyp_type_Cleaning staff', 'occyp_type_Cooking staff',
                  'occyp_type_Core staff', 'occyp_type_Drivers',
                  'occyp_type_HR staff', 'occyp_type_High skill tech staff',
                  'occyp_type_IT staff', 'occyp_type_Laborers',
                  'occyp_type_Low-skill Laborers', 'occyp_type_Managers',
                  'occyp_type_Medicine staff', 'occyp_type_Private service staff',
                  'occyp_type_Realty agents', 'occyp_type_Sales staff',
                  'occyp_type_Secretaries', 'occyp_type_Security staff',
                  'occyp_type_Waiters/barmen staff']] 
y_train = data[['credit']]

x_train_scale = scaler.fit_transform(x_train)

# 교차 검증(10-fold)을 각 k를 대상으로 수행해 검증 결과를 저장
for k in k_list:
    knn = KNeighborsClassifier(n_neighbors=k)
    scores = cross_val_score(knn, x_train_scale, y_train.values.ravel(), cv=10, scoring='accuracy')
    cross_validation_scores.append(scores.mean())
    
cross_validation_scores

[0.39057971014492754,
 0.3867494824016563,
 0.3732919254658385,
 0.3712215320910973,
 0.3682194616977225,
 0.37318840579710144,
 0.3718426501035197,
 0.37443064182194613,
 0.3766045548654245,
 0.3787784679089027,
 0.37681159420289856,
 0.37484472049689443,
 0.37567287784679093,
 0.3726708074534162,
 0.37515527950310557,
 0.3754658385093168,
 0.3752587991718427,
 0.3765010351966874,
 0.3795031055900621,
 0.3730848861283644,
 0.3656314699792961,
 0.36666666666666664,
 0.37111801242236025,
 0.37142857142857144,
 0.3769151138716356,
 0.37567287784679093,
 0.37204968944099376,
 0.37453416149068325,
 0.37339544513457557,
 0.374120082815735,
 0.37349896480331257,
 0.3732919254658385,
 0.3767080745341615,
 0.3765010351966874,
 0.3778467908902692,
 0.37587991718426506,
 0.3743271221532091,
 0.3709109730848862,
 0.36997929606625257,
 0.36915113871635613,
 0.36635610766045545,
 0.36904761904761896,
 0.36977225672877845,
 0.3691511387163561,
 0.3684265010351967,
 0.3639751552795031,
 0.36366459627329195,
 0.3673913043478261,
 0.3664596273291925,
 0.37028985507246376,
 0.3693581780538302,
 0.3686335403726708,
 0.368944099378882]

In [7]:
# 가장 예측율이 높은 k를 선정
k = k_list[cross_validation_scores.index(max(cross_validation_scores))]
print("The best number of k : " + str(k))

The best number of k : 90

In [16]:
# 사이킷런의 train_test_split을 사용하면 코드 한 줄로 손쉽게 데이터를 나눌 수 있습니다.
from sklearn.model_selection import train_test_split
# 다듬어진 데이터에서 20%를 테스트 데이터로 분류합니다
train1, test1 = train_test_split(data, test_size=0.1)

In [15]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

knn = KNeighborsClassifier(n_neighbors=k)

# 학습에 사용될 속성을 지정
x_train = train1[['child_num', 'income_total',
                  'DAYS_BIRTH', 'DAYS_EMPLOYED',
                  'FLAG_MOBIL', 'work_phone', 'phone', 'email', 'family_size',
                  'begin_month', 'begin_month_num', 'card_using', 'age',
                  'ages', 'employed_year', 'employed_year_5yr_bound',
                  'income_quintile', 'gender_dummy', 'car_dummy', 'reality_dummy',
                  'income_type_dummy', 'edu_type_dummy', 'family_type_dummy',
                  'house_type_dummy']]
x_train_scale = scaler.fit_transform(x_train)
# 예측할 값으로 지정
y_train = train1[['credit']]

# knn 모델 학습
knn.fit(x_train_scale, y_train.values.ravel())

# 테스트 데이터에서 분류를 위해 사용도리 속성을 지정
x_test = test1[['child_num', 'income_total',
                  'DAYS_BIRTH', 'DAYS_EMPLOYED',
                  'FLAG_MOBIL', 'work_phone', 'phone', 'email', 'family_size',
                  'begin_month', 'begin_month_num', 'card_using', 'age',
                  'ages', 'employed_year', 'employed_year_5yr_bound',
                  'income_quintile', 'gender_dummy', 'car_dummy', 'reality_dummy',
                  'edu_type_dummy', 'family_type_dummy']]
x_test_scale = scaler.fit_transform(x_test)
# 선수 포지션에 대한 정답을 지정
y_test = test1[['credit']]

# 테스트 시작
pred = knn.predict(x_test_scale)

# 모델 예측 정확도(accuracy) 출력
print("accuracy : " + str( accuracy_score(y_test.values.ravel(), pred)) )

NameError: name 'k' is not defined

In [8]:
train1_DT = pd.DataFrame(x_train_scale)
train1_DT = train1[['child_num', 'income_total',
                  'DAYS_BIRTH', 'DAYS_EMPLOYED',
                  'FLAG_MOBIL', 'work_phone', 'phone', 'email', 'family_size',
                  'begin_month', 'begin_month_num', 'card_using', 'age',
                  'ages', 'employed_year', 'employed_year_5yr_bound',
                  'income_quintile', 'gender_dummy', 'car_dummy', 'reality_dummy',
                  'income_type_dummy', 'edu_type_dummy', 'family_type_dummy',
                  'house_type_dummy', 'credit']]
test1_DT = pd.DataFrame(x_test_scale)
test1_DT = test1[['child_num', 'income_total',
                  'DAYS_BIRTH', 'DAYS_EMPLOYED',
                  'FLAG_MOBIL', 'work_phone', 'phone', 'email', 'family_size',
                  'begin_month', 'begin_month_num', 'card_using', 'age',
                  'ages', 'employed_year', 'employed_year_5yr_bound',
                  'income_quintile', 'gender_dummy', 'car_dummy', 'reality_dummy',
                  'income_type_dummy', 'edu_type_dummy', 'family_type_dummy',
                  'house_type_dummy', 'credit']]

NameError: name 'x_train_scale' is not defined